.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: lato, sans-serif;
  width: 500px;
  margin: 8px auto;
}

.header {
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header__link { 
    text-align: center;
  }
}

.workspace {
  margin-top: 23px;
}

.title {
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task {
  overflow: hidden;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.task__checkbox {
  margin: 0 10px;
}

.task__checkbox:checked ~ .task__label {
  text-decoration: line-through;
  color: #888;
}

.task__label {
  padding-left: 10px;
  font-size: 18px;
  flex-grow: 1;
}

.task__input {
  font-family: lato, sans-serif;
  font-size: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #888;  
  flex-grow: 1;
  display: none;
}

.task__btn {
  font-family: lato, sans-serif;
  font-size: 15px;
  background: none;
  border: 0px;
  color: #888;
  width: 60px;
  cursor: pointer;
}

.task__btn:hover {
  color: #3a3a3a;
}

.task__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__img:hover {
  transform: rotateZ(0);
}

.task_added {
  border-bottom: none;
  padding-bottom: 16px;
}

.task_editable .task__input {
  display: inline-block;
}

.task_editable .task__label {
  display: none;
}